.load {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: calc(100% - 70px);
    height: calc(100% - 70px);

    svg {
        margin: 0px auto;
    }
}