.menu {
    background-color: pink;
    height: 100%;
}

.menu .logo {
    margin: 5px 11px;
    width: 48px;
    height: 48px;
}

.desktop {
    display: flex;
    height: 100vh;
    flex-direction: column;
}

.logo {
    align-self: flex-start;
}

.desktop .logo {
    margin-bottom: 30px;
}

.desktop .icon {
    width: 26px;
    height: 26px;
    align-self: center;
    margin: 15px 0px;
}

.desktop .footer {
    width: 26px;
    height: 26px;
    margin: auto auto 20px auto;
}

.mobile {
    display: flex;
    flex-direction: row;
    height: 60px;
}

.mobile .hamburger {
    width: 26px;
    height: 26px;
    align-self: center;
    margin: 14px 20px 19px auto;
}
