.modal-body {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    .modal {
    display:  flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,0.3);
    width: 100%;
    height: 100%;

        .info-single-title {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 46px 1fr;
            width: 90%;
            max-width: 90vw;
            min-width: 400px;
            min-height: 400px;
            height: 90%;
            max-height: 90vh;
            background-color: rgba(0, 0, 0, 0.95);
            border-radius: 5px;
            color: white;

            .current-title-info {
                margin-left: 10px;
            }
            
            .cast {

                .cast-node {
                    max-width: 20%;

                    img {
                        width: 100%;
                    }
                }
            }
        }

        .info {
            display: grid;
            grid-template-columns: 20% 60% 20%;
            grid-template-rows: 46px 1fr;
            width: 90%;
            max-width: 90vw;
            min-width: 400px;
            min-height: 400px;
            height: 90%;
            max-height: 90vh;
            background-color: rgba(0, 0, 0, 0.95);
            border-radius: 5px;
            color: white;
        }

            .current-title-info {
                overflow: scroll;

                h1 {
                    margin: 10px 0px 3px 10px;
                    font-size: 250%;
                }
                
                h3 {
                    margin: 0px 0px 10px 15px;
                }

                p {
                    margin: 5px 10px 5px 15px;
                    padding-right: 40px;
                    text-align: justify;
                }

                .cast {
                    margin: 20px 10px 0px 0px;

                    h3 {
                        margin-bottom: 0px;

                        span {
                            margin-left: 5px;
                            font-size: 70%;
                            cursor: pointer;
                        }
                    }

                    .cast-node {
                        display: inline-block;
                        margin: 10px 0px 10px 15px;
                        width: 20%;

                        img {
                            max-width: 100%;
                        }

                        .character {
                            font-style: italic;
                            font-size: 80%;
                        }

                        p {
                            text-align: center;
                            margin: 0px;
                            padding: 0px;
                            max-width: 100%;
                            font-size: 90%; 
                        }
                    }
                }

            }

            .current-title-image {
                text-align: center;
                padding: 20px 25px 0px 0px ;
                height: 100%;

                img {
                    padding-bottom: 5px;
                    max-width: 100%;
                }

                .trailer-link{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    
                    a {
                        color: white;
                    }
                    
                    svg {
                        fill: white;
                        height: 18px;
                        max-width: 100%;
                        padding-left: 5px;
                    }
                }

                .budget, .director {
                    p {
                        font-size: 90%;
                    }
                    span {
                        font-style: italic;
                        font-size: 110%;
                    }
                }

            }

            .all-titles-sidebar {
                overflow: scroll;
                text-align: center;
                border-right: 1px solid rgba(0, 0, 0, 1);

                .title-sidebar {
                    cursor: pointer;
                    width: 100%;
                    text-align: center;
                    margin: 5px 0px 25px;

                    h5 {
                        margin: 0;
                        padding: 0;
                    }

                }
            }

            .close-bar {
                width: 100%;
                grid-column: 1/4;
                border-bottom: 1px solid rgba(0, 0, 0, 1);
                //background-color: green;

                .date {
                    float: left;
                    margin: 10px 0px auto 10px;
                    padding: 0;
                    color: white;

                    h2 {
                        margin: 0;
                        padding: 0;
                    }
                }

                .close{
                float: right;
                width: 26px;
                height: 26px;
                margin: 10px 10px auto auto;
                cursor: pointer;

                    svg {
                        fill: white;
                    }
                }

            }

            .video iframe {
                width: 500px;
                height: 300px;
                border: none;
            }

    }
}

@media (max-width: 768px) {
    .modal-body {
        height: calc(100vh - 60px);

        .modal {

            .info, .info-single-title{
                display: flex;
                flex-direction: column;
                width: 100%;
                max-width: 100%;
                height: 100%;
                max-height: 100%;

                .current-title-info {
                    overflow: visible;
                }

                .current-title-image {
                    overflow: visible;
                }

                .close-bar{

                    .date {
                        margin: 12px 0px auto 20px;
                    }


                    .close {
                        margin: 12px 20px 10px auto 
                    }
                }

                .all-titles-sidebar {
                    order: 3;
                }
            }
        }    
    }
}

