.search-results {
    margin: 10px;

    .node {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: calc(100% - 30px);
        height: 120px;
        background-color: rgba(0, 0, 0, 0.3);
        border-radius: 5px;
        margin: 5px 5px 5px 0px;
        padding: 10px;

        .poster {
            display: inline-block;
            height: 100%;
        }

        .poster img {
            max-height: 100%;
        }

        .info {
            margin: 10px;
            height: 100%;
            width: 60%;
            flex-grow: 1;
            vertical-align: top;

            h3 {
                margin: 0;
                font-weight: bold;
                color: #111;
            }

            p{
                margin: 5px 0 0 0;
                display: inline-block;
            }
        }

        .anniversary-box {
            display: flex;
            flex-direction: row;
            align-items: center;
            background-color: white;
            border-radius: 5px;
            padding: 10px;
            display: block;
            float: right;
            text-align: center;
            margin: 10px 10px 10px 10px;

            h6 {
                font-size: 90%;
                margin: 0;
                padding: 0 15px 0 15px;

            }

            h4 {
                font-size: 160%;
                padding: 15px;
                margin: 0;

                sup {
                    font-size: 50%;
                }
            }

            p{
                margin: 0;

                sup {
                    font-size: 70%;
                }
            }
        }
    }
}